<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Contact Us | Let's Celebrate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-danger navbar-dark p-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar2">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar2">
          <ul class="navbar-nav">
            <li class="nav-item p-2">
              <a class="nav-link" href="/birthdays">Birthdays</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="/anniversary">Anniversary</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="/graduation">Graduation</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="/kids">Kids</a>
            </li>
            <li class="nav-item p-2">
              <a class="nav-link" href="/pastries">Pastries</a>
            </li>      
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item p-2">
              <a class="nav-link" href="/">Home</a>
            </li>
          </ul>
        </div>  
    </nav>
      <br>
      <div class="container">
        <div class="text-center" style="font-size: 20px;">
            <h2>You can contact us on</h2>
            <div class="row justify-content-md-center">
              <div class="col-lg-4">
                <i class="material-icons" style="font-size:30px">phone_in_talk</i> +91 7887878787 
              </div>
              <div class="col-lg-4" >
                <i class="material-icons" style="font-size:30px">email</i> onlinecakeshop@gmail.com
              </div>
            </div>
        </div>
      </div>
      <br>
      <div class="container bg-light p-3"> 
          <h4>FAQs for vendors</h4>
          <hr>
          <h5>How home made bakers can sell their products through us?</h5>
          <p>Home made bakers have to fill a registration form and provide FSSAI certificate.We will verify the details and let them know. </p>
          <h5>What is FSSAI cetificate?</h5>
          <p>The Food Safety and Standards Authority of India (FSSAI) is a legal authority that offers a food license to all food business operators (FBO) in India. All the FBOs must follow all the rules and regulations of FSSAI for food quality control.</p>
          <h5>How cake shops can sell their products through us?</h5>
          <p>Cake shops have to provide FSSAI cerificate along with gst number of their shop</p>
        </div>
        <br>
        <div class="container bg-light p-3"> 
          <h4>FAQs for buyers</h4>
          <hr>
          <h5>Will you deliver fresh cakes?</h5>
          <p>A person can enjoy the actual taste of cake only when it's fresh, this is why all the cakes we deliver are prepared only some time before it reaches to the recipient. 
          To achieve the same, we offer customers to choose delivery time as well, so that we know when we need to prepare a cake and get it delivered. We ensure that customer always enjoys the freshest possible cake. We do not believe in delivering stale cakes.</p>
          <h5>How can I trust the quality of cake delivered by this website?</h5>
          <p>We procure cakes from top and renowned bakeries in town. This help us to ensure that customer always get quality cakes and consistent taste. We promise to deliver quality products when ordering from our website</p>
          <h5>What if recipient is not available when delivery person reaches there? Will you re-attempt delivery?</h5>
          <p>We do not attempt to deliver again, but we would call recipient and sender to know if we can deliver their order to any neighbour or near by place. Unable to do so will lead to cancellation of order and no refund will be made.</p>
          <h5>Are there any hidden charges (Sales Tax) when I make a purchase on this webite?</h5>
          <p>There are NO hidden charges when you make a purchase on this website. The prices listed for all the items are final and all-inclusive. The price you see is exactly what you need to pay. Delivery charges may be extra depending on the location and other parameters.</p>
        </div>
</body>