<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Customer Login | Let's Celebrate</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-md bg-danger navbar-dark p-0">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar2">
      <ul class="navbar-nav">
        <li class="nav-item active p-2">
          <a class="nav-link" href="/birthdays">Birthdays</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="/anniversary">Anniversary</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="/graduation">Graduation</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="/kids">Kids</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="/pastries">Pastries</a>
        </li>      
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
        <li class="nav-item active p-2">
          <a class="nav-link" href="#">Welcome {{request.user}}</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="/cart">Cart</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item p-2">
          <a class="nav-link" href="/custlogin">Login</a>
        </li>
        {% endif %}
        <li class="nav-item p-2">
          <a class="nav-link" href="/">Home</a>
        </li>
        
      </ul>
    </div>  
</nav>
<br><br>
<p style="text-align: center;font-weight: 700;">New user?&emsp;&emsp;&emsp;&emsp;<button class="btn btn-danger" onclick="myFunction1()">Sign Up</button></p>

<p style="text-align: center;font-weight: 700;">Registered user?&emsp;&emsp;<button class="btn btn-danger" onclick="myFunction2()">Log in</button></p>
<!--Code for visibility and invisibility of div -->
<script>
    function myFunction1() {
      var x = document.getElementById("myDIV1");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
      var y = document.getElementById("myDIV2");
      if (y.style.display === "block") {
        y.style.display = "none";
      } 
    }
    function myFunction2() {
      var x = document.getElementById("myDIV2");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
      var y = document.getElementById("myDIV1");
      if (y.style.display === "block") {
        y.style.display = "none";
      } 
    }
    </script>

<!--Sign up div-->
<div style="display:none;" class="container" id="myDIV1">
  <div class="row justify-content-md-center">
    <div class="col-sm-6 bg-light p-3">
      <br>
      <form action="" method="POST">
        {% csrf_token %}
        {{cm1.as_p}}
        <div class="text-center">
          <input name="csign" type="submit" class="btn btn-danger" value="Submit">
          {% if fm1.errors %}
                <script>
                document.getElementById("myDIV1").style.display="block"
                </script>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

<!--Log in div-->
<div style="display:block;" class="container" id="myDIV2">
    <div class="row justify-content-md-center">
        <div class="col-sm-6 bg-light p-3">
          <br>
          <form action="" method="POST">
            {% csrf_token %}
            {{cm2.as_p}}
            <div class="text-center">
              <input name="clogin" type="submit" class="btn btn-danger" value="Submit">
              {% if fm2.errors %}
                <script>
                document.getElementById("myDIV2").style.display="block"
                </script>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
</div>
